body{
    background-color: rgb(34, 31, 28);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family:Courier;
}
h1{
    color: rgb(235, 181, 233);
}
.title{
    display: flex;

}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(235, 181, 233);
    padding: 20px 20px 20px 10px;
    border: solid 1px rgb(255, 180, 236);
    border-radius: 4px;
    box-shadow: 6px 12px 12px rgb(24, 12, 27);
    flex-shrink: 0;
}
button{
    width: 70px;
    height: 45px;
    background-color: rgb(247, 185, 255);
    border: rgb(49, 30, 42);
    border-width: 1px;
    border-radius: 20px;
    font-size: larger;
    margin: 4px 1px;
    box-shadow: 1px 5px 5px rgb(158, 69, 124);
}
button:active{
    box-shadow: 1px 3px 3px rgb(167, 74, 131);
}
.oper{
    background-color: rgb(252, 152, 238);
}
.clearBtn{
    background-color: rgb(255, 120, 237);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 5px;
}
#screen{
    background-color: rgba(223, 157, 214, 0.945);
    height: 60px;
    width: 305px;
    font-size: xx-large;
    border-radius: 5px;
    border: 1px solid rgb(187, 110, 159);
    text-align: right;

}
.calculator{
    display: flex;
    flex-direction: column;
}
.zero{
    width: 152px;
}


