body{
    background-color: rgb(38, 38, 63);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#container{
    display: flex;
    width: 50%;
    justify-content: center;
}
.clearBtnZone{
    height: 160px;
    margin-right: 10px;
}
.clearBtn{
    background-color: rgb(255, 115, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border-radius: 100px;
}
.zero{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 70px;
    background-color: rgb(25, 25, 73);
    color: white;
    border-radius: 2px;
    border-color: white;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
}
.line{
    display: flex;
}
.btnZone{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.screen{
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    color: white;
    height: 70px;
    font-size:200%;
    font-family: Arial, Helvetica, sans-serif;
    
}
