body{
    background-color: rgb(34, 31, 28);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family:Courier;
}
#container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(235, 181, 233);
    padding: 20px 20px 20px 10px;
    border: solid 1px rgb(255, 180, 236);
    border-radius: 4px;
    box-shadow: 6px 12px 12px rgb(24, 12, 27);
}
button{
    width: 70px;
    height: 45px;
    background-color: rgb(247, 185, 255);
    border-width: 1px;
    border-radius: 20px;
    font-size: larger;
    margin: 4px 1px;
    box-shadow: 1px 2px 1px rgb(126, 61, 101);
    

}
.oper{
    background-color: rgb(252, 152, 238);
}
.clearBtn{
    background-color: rgb(255, 120, 237);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(223, 157, 214, 0.945);
    height: 60px;
    font-size: xx-large;
    border-radius: 5px;
}
.calculator{
    display: flex;
    flex-direction: column;
}
.zero{
    width: 152px;
}


